/* Reset classes */

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* border: solid 1px black; */
}

/* Universal classes */

body {
    /* background-image: url(images/tania-malrechauffe-SVeevsKjjuM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    font-family: 'Poppins', sans-serif;
    
}


h1, h2, h3 {
    padding: 1rem 0rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}



/* Header classes */

header h1 {
    text-align: center;
}

/* Main classes */

main {
    max-width: 1200px;
    margin: auto;
}

/* Form section classes */

#form {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 1rem;
    
}

#form > .flex-container {
    flex-direction: column;
    justify-content: space-between;
    /* background-color: yellow; */
    height: 50vh;
}


.form-item {
    width: 100%;
    /* padding-bottom: 1rem; */
}

.inline-item {
    flex-basis: 100%;
}

.inline-item:last-of-type {
    margin-left: .5rem;
}


.form-item input, .form-item select {
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.form-item label {
    display: inline-block;
    padding-bottom: .5rem;
}

.submit-btn {
    display: block;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.125rem;
    border-radius: 5px;
}

/* Information section classes */

#information {
    /* flex-grow: 1;
    flex-basis: 100%; */
    padding: 1rem;
}

#information p {
    margin-bottom: 0.75rem;
    font-size: .75rem;
}

/* Results section classes */

.render .flex-container {
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
    height: 50vh;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    border-radius: 5px;
   
}


.render {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 1rem;
    
}

.render p {
    display: block;
}



.display-name {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

.display-list {
    list-style: none;
    padding-left: 1.5rem;
    /* text-transform: capitalize; */
}

.red {
    background-color: hsl(348, 100%, 61%);
    
}

.yellow {
    background-color: hsl(48, 100%, 67%);
    
}

.green {
    background-color: hsl(141, 71%, 48%);
    
}

.cd-box {
    text-align: center;
    padding: 5rem 2rem;
    /* margin-top: 1rem; */
    font-size: 2.5rem;
    border-radius: 5px;

}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
} 

/* Media queries */

@media only screen and (max-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-item, .inline-item:nth-of-type(1) {
        
        padding-bottom: 1rem;
    }

    .inline-item:last-of-type {
        margin-left: 0;
    }
}